<div class="title-group">
    <div class="main">
        <h1 class="mat-h1">Templates</h1>

    </div>
    <mat-divider class="mat-divider"></mat-divider>
</div>


<div class="container view-table">
    <div style="margin-top:15px">
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Mechanical_Schedule_Template.xlsx"
            download="" class="download_link">
            Mechanical Schedule
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Electrical_Service_Data_Template.xlsx"
            download="" class="download_link">
            Electrical Facility Service Data
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Electrical_Interconnect Schedule_Template.xlsx"
            download="" class="download_link">
            Supplier Interconnect Wiring Schedule
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Electrical_Circuit Termination Data_Template.xlsx"
            download="" class="download_link">
            Circuit termination Data
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Electrical_Interconnect Raceway Section_Box Schedule_Template.xlsx"
            download="" class="download_link">
            Interconnect Raceway Section/Box Schedule
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Project_Register_Sheets_Template.xlsx"
            download="" class="download_link">
            Project Register Sheets
        </a>
        <a mat-list-item routerLinkActive="active" href="/assets/templates/Project_Notes_Template.xlsx"
        download="" class="download_link">
        Project Notes
    </a>

    </div>
</div>