<!-- Title group  -->
<div class="title-group">
  <div class="main">
    <h1 class="mat-h1">{{projectName}} - Electrical Schedule</h1>


    <button [matMenuTriggerFor]="menu" class="top-btn-mech" mat-raised-button color="basic">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/project_rev/getAll/',projectId]">
        <mat-icon>autorenew</mat-icon>
        <span>Revisions</span>
      </button>
      <button mat-menu-item [routerLink]="['/project_obj/getAll/',projectId]">
        <mat-icon>check_circle</mat-icon>
        <span>Objects</span>
      </button>
      <button mat-menu-item [routerLink]="['/project_sheet/getAll/',projectId]">
        <mat-icon>lock</mat-icon>
        <span>Register Sheet</span>
      </button>
      <button mat-menu-item [routerLink]="['/project_mech/getAll/',projectId]">
        <mat-icon>schedule</mat-icon>
        <span>Mechanical Schedule</span>
      </button>
      <button mat-menu-item [routerLink]="['/project-service-data/getAll/',projectId]">
        <mat-icon>schedule</mat-icon>
        <span>Electrical Schedule</span>
      </button>
      <button mat-menu-item [routerLink]="['/project_notes/getAll/',projectId]">
        <mat-icon>chat_bubble_outline</mat-icon>
        <span>Notes</span>
      </button>
      <button mat-menu-item [routerLink]="['/generate-pdf/',projectId]">
        <mat-icon>cloud_download</mat-icon>
        <span>Generate PDF</span>
      </button>
    </mat-menu>

    <mat-divider class="mat-divider"></mat-divider>



    <div style="margin-top:15px">

      <div class="tab">
        <button class="tablinks" id="BTN_SERVICE_DATA" (click)="openTab('SERVICE_DATA')">SERVICE DATA</button>
        <button class="tablinks" id="BTN_INTERCONNECT_SCHEDULE" (click)="openTab('INTERCONNECT_SCHEDULE')">INTERCONNECT</button>
        <button class="tablinks" id="BTN_CIRCUIT_TERMINATION_DATA" (click)="openTab('CIRCUIT_TERMINATION_DATA')">CIRCUIT TERMINATION</button>
        <button class="tablinks" id="BTN_INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE"
        (click)="openTab('INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE')">RACEWAY\BOX</button>
      </div>

      <div id="SERVICE_DATA" class="tabcontent"> 

        <input type="file" class="top-btn mat-raised-button  custom-file-input" id="importexcel" name="importexcel"
          (change)="uploadServiceData($event)" [(ngModel)]="UploadFileInput">

        <div class="container view-table"> 


            <table class="table ">
              <thead class="text-nowrap">
                <tr>
                  <th *ngFor="let header of serviceDataHeader">{{header}} </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="serviceDataList.length<=0">
                  <tr class="no-data">There is no Project Service Data Sheet added yet!</tr>
                </ng-container>
                <ng-container *ngFor="let row of serviceDataList | paginate:config ; let i=index ">
                  <tr>
                    <td   *ngFor="let col of serviceCols">
                      <input type="text" *ngIf="isEditable && i==editIndex" [(ngModel)]="row[col]" [name] = "col"   /> 
                      <span *ngIf="!isEditable || i!=editIndex">{{row[col]}}</span>
                    </td> 
                    <td>
                      <div class="action-btns">
                      <button *ngIf="!isEditable"  mat-raised-button color="primary" class="push-right" (click)="editItem(i)">Edit</button>
                      <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="saveItem('SERVICE_DATA', row)">Save</button>
                      <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="cancelEdit('SERVICE_DATA')">Cancel</button>
                      <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="deleteItem('SERVICE_DATA', row)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            
        </div>


      </div>

      <div id="INTERCONNECT_SCHEDULE" class="tabcontent">

        <input type="file" class="top-btn mat-raised-button  custom-file-input" 
          (change)="uploadInterconnectData($event)" [(ngModel)]="UploadFileInput2">
          <div class="container view-table"> 

            <table class="table ">
              <thead class="text-nowrap">
                <tr>
                  <th *ngFor="let header of interconnectHeader">{{header}} </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="interconnectList.length<=0">
                  <tr class="no-data">There is no Interconnect Data Sheet added yet!</tr>
                </ng-container>
                <ng-container *ngFor="let row of interconnectList | paginate:config ; let i=index ">
                  <tr>
                    <td *ngFor="let col of interconnectCols">
                      <input type="text" *ngIf="isEditable && i==editIndex" [(ngModel)]="row[col]" [name] = "col"   /> 
                      <span *ngIf="!isEditable || i!=editIndex">{{row[col]}}</span>
                    </td> 
                    <td>
                      <div class="action-btns">
                        <button *ngIf="!isEditable"  mat-raised-button color="primary" class="push-right" (click)="editItem(i)">Edit</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="saveItem('INTERCONNECT_SCHEDULE', row)">Save</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="cancelEdit('INTERCONNECT_SCHEDULE')">Cancel</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="deleteItem('INTERCONNECT_SCHEDULE', row)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            
        </div>

      </div>

      <div id="CIRCUIT_TERMINATION_DATA" class="tabcontent">

        <input type="file" class="top-btn mat-raised-button  custom-file-input" 
          (change)="uploadCircuitData($event)" [(ngModel)]="UploadFileInput3">
          <div class="container view-table"> 

            <table class="table ">
              <thead class="text-nowrap">
                <tr>
                  <th *ngFor="let header of circuitHeader">{{header}} </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="circuitList.length<=0">
                  <tr class="no-data">There is no Circuit Termination Data Sheet added yet!</tr>
                </ng-container>
                <ng-container *ngFor="let row of circuitList | paginate:config ; let i=index ">
                  <tr>
                    <td *ngFor="let col of circuitCols">
                      <input type="text" *ngIf="isEditable && i==editIndex" [(ngModel)]="row[col]" [name] = "col"   /> 
                      <span *ngIf="!isEditable || i!=editIndex">{{row[col]}}</span>
                    </td> 
                    <td>
                      <div class="action-btns">
                        <button *ngIf="!isEditable"  mat-raised-button color="primary" class="push-right" (click)="editItem(i)">Edit</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="saveItem('CIRCUIT_TERMINATION_DATA', row)">Save</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="cancelEdit('CIRCUIT_TERMINATION_DATA')">Cancel</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="deleteItem('CIRCUIT_TERMINATION_DATA', row)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            
        </div>

      </div>

      <div id="INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE" class="tabcontent">

        <input type="file" class="top-btn mat-raised-button  custom-file-input" 
          (change)="uploadRacewayData($event)" [(ngModel)]="UploadFileInput4">
          <div class="container view-table"> 
            <table class="table ">
              <thead class="text-nowrap">
                <tr>
                  <th *ngFor="let header of racewayHeader">{{header}} </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="racewayList.length<=0">
                  <tr class="no-data">There is no Raceway Data Sheet added yet!</tr>
                </ng-container>
                <ng-container *ngFor="let row of racewayList | paginate:config ; let i=index ">
                  <tr>
                    <td *ngFor="let col of racewayCols">
                      <input type="text" *ngIf="isEditable && i==editIndex" [(ngModel)]="row[col]" [name] = "col"   /> 
                      <span *ngIf="!isEditable || i!=editIndex">{{row[col]}}</span>
                    </td>  
                    <td>
                      <div class="action-btns">
                        <button *ngIf="!isEditable"  mat-raised-button color="primary" class="push-right" (click)="editItem(i)">Edit</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="saveItem('INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE', row)">Save</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="cancelEdit('INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE')">Cancel</button>
                        <button *ngIf="isEditable"  mat-raised-button color="primary" class="push-right" (click)="deleteItem('INTERCONNECT_RACEWAY_SECTIONBOX_SCHEDULE', row)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            
        </div>

      </div>


    </div>


  </div>

</div>