
<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Edit Service </h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="services" (ngSubmit)="submitEditServicesForm()" #resetServicesForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Service Name" formControlName="SERVICE_NAME">
          <mat-error *ngIf="handleError('SERVICE_NAME', 'required')">
            You must provide a<strong> service name</strong>
          </mat-error>
        </mat-form-field>

        </div>
        </mat-card>
        
        <mat-card *ngIf = "PipeData.length > 0" class="PipeData">
        <div >
          <p>Select Pipes for this Service:</p>
          <div *ngFor="let pipes of PipeData; let i = index" >
            <label>
              <input type="checkbox" [checked]="ServiceData.includes(pipes._id)" [value]="pipes._id" (change)="onCheckboxChange($event)" />
              {{pipes.PIPE_NAME}}
            </label>
         </div>  
        </div>
      </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
 
</div>
